@import '../../styles/variables';
@import '../../styles/mixins';

.selectWrapper {
    position: relative;
    width: 100%;
    @include Montserrat;
    font-size: 16px;
    line-height: 24px;
    
    &-label {
      display: block;
      margin-bottom: 8px;
      font-size: 14px;
      color: $dark;
      @include Montserrat;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
    }

    .selectedOptionDisplay {
      display: flex;
      align-items: center;

      .optionIcon {
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
    }
      
  .selectBox {
    padding: 10px;
    border: 1px solid $gray3;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
  
    &-arrow {
      display: flex;
      font-size: 12px;
    }
  
    &:hover {
      border-color: $black;
    }
  
    &-disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background-color: #f5f5f5;
    }
  }
  
  .selectDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid $gray3;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
  
    .selectDropdown-optionList {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    .selectDropdown-optionList-optionItem {
      padding: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
  
      &:hover {
        background-color: $gray3;
      }

      &.selected {
        color: $white;
        background-color: $dark;
      }
    }

    .inputWrapper {
        border: none;
        input {
            border: none;
            border-bottom: 1px solid $gray3;
        }
    }
  } 
}
