@import '../../../styles/mixins';
@import '../../../styles/variables';

.regionCardHeaderWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: start;
    align-items: center;
    img {
        width: 70px;
    }
    &-data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding-left: 20px;
        gap: 10px;
        h5 {
            @include Montserrat;
            font-size: 16px;
            line-height: 24px;
            color: $dark;
            font-weight: 700;
            margin: 0;
        }

        p {
            @include Montserrat;
            font-size: 14px;
            line-height: 22px;
            color: $dark;
            font-weight: 500;
            margin: 0;
            padding: 0;
        }
    }
    &-labels {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;
        gap: 10px;
    }
}
