@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.balanceWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include Inter;
    font-size: 16px;
    line-height: 24px;
    &-name {
        padding-right: 10px;
    }
    &-value {
        @include Montserrat;
        padding: 15px;
        background-color: $gray3;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 8px;
        width: fit-content;
        p {
            margin: 0;
        }
        img {
            width: 100%;
            margin: 0 5px;
            width: 24px;
        }
    }
}
