@import '../../styles/variables';
@import '../../styles/mixins';

.tableWrapper {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid $gray3;
}

.tableHeader {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $gray3;
  @include Montserrat;
  font-size: 16px;
  line-height: 24px;

  .tableHeader-cell {
    position: relative;
    flex-direction: column;
    flex: 1; 
    padding: 10px;
    min-width: 40px;
    box-sizing: border-box;
    text-align: left;

    p {
        margin: 0;
        padding: 0;
    }
    
    &.checkboxCell {
      flex: 0 0 40px;
      width: 40px;

    //   input[type="checkbox"] {
    //     position: absolute;
    //     opacity: 0;
    //     width: 0;
    //     height: 0;
    //   }

    //   label {
    //     width: 20px;
    //     height: 20px;
    //     border: 1px solid $gray3; 
    //     border-radius: 4px; 
    //     cursor: pointer;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     position: relative;
    //   }

    //   input[type="checkbox"]:checked + label::after {
    //     content: ' ';
    //     background-image: url('../../../../src/assets/icons/Check.svg');
    //     background-size: 60%;
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     font-size: 12px; 
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: 22px;
    //     height: 22px;
    //     transform: translate(-50%, -50%);
    //     background-color: $black;
    //     text-align: center;
    //     border-radius: 4px;
    //   }
    }

    &.exstricIdCell {
        flex: 1; 
        min-width: 100px;
      }
      &.accountCell {
        flex: 3; 
        min-width: 200px; 
      }
      &:nth-child(4) { //Core
        flex: 1;
        min-width: 80px;
      }
  
      &:nth-child(5) { //Price(KSM)
        flex: 2;
        min-width: 120px;
      }
      &:nth-child(6) { //SalesType
        flex: 2;
        min-width: 120px;
      }
  
      &:nth-child(7) { //Timestamp
        flex: 1.5;
        min-width: 100px;
      }

      input[type="text"] {
        width: 90%;
        padding: 5px;
        margin-top: 5px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px; 
        color: $dark; 
        padding: 10px 10px 10px 30px;
      }

      .searchIcon {
        position: absolute;
        left: 20px;
        top: 58%;
        width: 16px;
        height: 16px;
        pointer-events: none; 
      }
  }
}

.tableBody {
  display: flex;
  flex-direction: column;
  width: 100%;

  .noResultsMessage {
    width: 100%;
    @include Montserrat;
    font-size: 20px;
    line-height: 28px;
    color: $dark;
    padding: 30px;
  }

  &:last-child {
    border-bottom: none; 
  }
}
